<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphy</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Icono -->
    <link rel="shortcut icon" type="image/x-icon" href="../resources/otros/modelado.ico">
</head>
<body>
    <header>
        <!--Menú pegajoso - superior-->
        <nav class="menu-fixed">
            <ul>
                <li class="izquierda"><a href="#">¿Qué es Graphy?</a></li>
                <li class="izquierda"><a href="#">Herramientas</a></li>
                <li class="izquierda"><a href="#">Extras</a></li>
                <li class="derecha"><a href="#">Contáctanos</a></li>
                <li class="derecha"><a href="#">Manuales</a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor">
        <div class="logo">
            <div>
                <img src="../resources/otros/modelado.png" alt="IconoGraphy">
            </div>
            <div>
                <div class="linea"></div>
                Tu graficador
                <div class="linea"></div>
            </div>
        </div>
        <div class="gift">
            <img src="../resources/otros/5f72c2ccc7c3ab5996bdfe996687509d.gif" alt="GraphyGift"> 
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
</html>